.navBarContainer {
    position: fixed;
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
    height: 100vh; 
    width: 25vw; 
    background-color: black;
    color: white;
    padding-right: 75px;
}

.navBar {
    margin-top: 100px; 
    align-items: start;
}

.navBarLogo {
    padding-bottom: 25px; 
    font-size: 75px;
}

.navBarList {
    padding: 0;
}

.navBarListButton {
    border-radius: 2px; 
    border-top-right-radius: 20px; 
    border-bottom-left-radius: 20px; 
}

.navBarListItem {
    padding: 2px;
}

.Mui-selected:focus {
    background-color: rgba(255, 255, 255, .15);
};