.pageBox {
  display: flex;
  background-color: black;
}

.navBarContainer {
  display: flex;
  margin-bottom: 10;
  width: 25vw;
}

.content {
  display: flex;
  flex-direction: column;
  width: 75vw;
  color: white;
  margin: 0 50px; 
  padding: 0 50px;
}

.mainContainer.open {
  position: fixed;
}

.buttonContainer {
  padding: 20px 50px;
  background-color: black;
  width: 100vw;
  position: fixed;
  text-align: end;
  z-index: 2;
}